<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">edit details</h1>
    <div class="col-6 offset-3">

        <form action="/campground/<%=camp._id %>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data" >

            <div class="mb-3">
                <label class="form-label" for="title">title:</label>
                <input class="form-control" type="text" id="title" name ='campground[title]' value="<%= camp.title %>" required>
                <div class="valid-feedback">
                    it will work!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="location">location:</label>
                <input class="form-control" type="text" id="location" name ='campground[location]' value="<%=camp.location %>" required>
                <div class="valid-feedback">
                    it will work!
                </div>
            </div>

           

            <div class="mb-3">
                <label class="form-label" for="description">Description:</label>
                <textarea class="form-control" type="text" id="description" name ='campground[description]' required ><%= camp.description %> </textarea>
                <div class="valid-feedback">
                    it will work!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="price">price:</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">₹</span>
                    <input class="form-control" type="number" placeholder="0.00" aria-label="price" aria-describedby="price-label" id='price' name ='campground[price]' value="<%= camp.price %>" required>
                    <div class="valid-feedback">
                        it will work!
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="formFile" class="form-label">add images</label>
                <input class="form-control" type="file" id="formFile" name="image" multiple>
              </div>

            <div class="mb-3">                
                <button class="btn btn-success">save changes</button>
            </div>      

       </form> 
    </div>
</div>
